<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'form'}) %>
    <body>
        <div class="container">
            <h1 class="page-title">Oops.... <%= data %></h1>
        </div>
    </body>
</html>
