<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {title: 'thanks'}) %>

    <body>
        <div class="thanks-container">
            <i><h1>Your pdf is ready!</h1></i>
        </div>
        <div class="form-fixed">
            <form action="/" method="get">
                <input type="submit" value="Generate new PDF" />
            </form>
        </div>
    </body>
</html>
